# Get your E2B API key here https://e2b.dev/docs/getting-started/api-key
E2B_API_KEY=

# Set the API key for whichever model provider(s) you want to use
# Get your Anthropic API key here https://console.anthropic.com
ANTHROPIC_API_KEY=
# Get your OpenAI API key here https://platform.openai.com/api-keys
OPENAI_API_KEY=
# Get your Google AI API key here https://aistudio.google.com/app/apikey
GOOGLE_GENERATIVE_AI_API_KEY=
# Get your Mistral API key here https://console.mistral.ai/api-keys
MISTRAL_API_KEY=
# Get your Groq API key here https://console.groq.com/keys
GROQ_API_KEY=
# Get your Together AI API key here https://api.together.ai/settings/api-keys
TOGETHER_AI_API_KEY=

# Optional: enable Supabase authentication
# NEXT_PUBLIC_ENABLE_SUPABASE=true
# NEXT_PUBLIC_SUPABASE_URL=
# NEXT_PUBLIC_SUPABASE_ANON_KEY=
